.wrapper {
    // height: 100vh;
    /*This part is important for centering*/
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hi {
    opacity: 0;
    transition: 1s;
    width: 3ch;
    animation: typing 0.3s steps(3), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    // white-space: inherit;
    // border-right: 3px solid;
    font-family: monospace;
    font-size: 3em;
  }
  .name {
    opacity: 0;
    transition: 1s;
    width: 14ch;
    animation: typing 1.4s steps(14), blink .5s step-end infinite alternate;
    animation-delay: 0.3s;
    white-space: nowrap;
    overflow: hidden;
    // white-space: inherit;
    // border-right: 3px solid;
    font-family: monospace;
    font-size: 1.8em;
  }

  .tag {
    opacity: 0;
    transition: 1s;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    animation-delay: 1.7s;
    white-space: nowrap;
    overflow: hidden;
    // white-space: inherit;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.hero{
    .row{
        text-align: center;
    }
}