{{ with site.Data.contact }}
<button class="open-button" id="contact" aria-label="contact" onclick="openForm()">
  {{ partial "in" "comment" }}
</i></button>

<div class="form-popup" id="myForm" method="post">
  <form class="form-container" id="contactme">
    <div class="row">
      <div class="col">
        <h3>Contact</h3>
      </div>
      <div class="col text-end" onclick="closeForm()">
        {{ partial "fa" "close" }}
      </div>
    </div>
    <label for="email"><b>{{ .emailid }}</b></label>
    <input type="text" placeholder="{{ .emailPh }}" name="email" value="" required>
    <label for="psw"><b>{{ .messege }}</b></label>
    <input type="text" placeholder="{{ .messegePh }}" name="message" value="" required>
    <button type="submit" value="Send Email" onclick="sendEmail()" class="custom-btn btn11">{{ .send }}</button>
  </form>
</div>
{{ end }}