{{ with site.Data.intro }}
{{ $image := resources.Get "/images/laptop.webp" }}
<section id="hero" class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ $image.RelPermalink }}" class="img-fluid laptop" alt="Laptop Coding">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0">
                {{ range .display}}
                <div class="wrapper">
                    <div class="{{ .category }}" id="{{ .category }}">
                        {{ .text }}
                    </div>
                </div>
                {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}