{{ $image := resources.Get "/images/laptop.png" }}
{{ $image = $image.Resize "270x270" }}

<section id="hero" class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ $image.RelPermalink }}" class="img-fluid laptop" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0">
                <div class="wrapper">
                    <div class="typing-demo1">
                    Hi!
                    </div>
                </div>
                <div class="wrapper">
                    <div class="typing-demo">
                    I'm Anurag Kar
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="about">
    <div class="container"> 
        <div class="profile text-center" id="profile">
            <div>Hi!</div> 
            <div> 
            <span class="mx-3"> I'm Anurag Kar</span>
            </div>
        </div>
    </div>
</div> -->