{{ with site.Data.resume }}
<section id="resume" class="resume">
  <div class="container">
    <div class="section-title animate-on-scroll">
      <h2>{{ .title }}</h2>
      <p>{{ .description }}</p>
    </div>
    <div class="row">
      <div class="col-lg-6 py-3 animate-on-scroll stagger-1">
        <div class="skills">
          <h3 class="resume-title">{{ .topic1 }}</h3>
          {{ range .skills }}
          <h4>{{ .skill }}</h4>
          <div class="d-flex flex-wrap gap-1 mb-2">
            {{ range .items }}
            {{ partial "inline-svg" . }}
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-6 animate-on-scroll stagger-2">
        <h3 class="resume-title">{{ .topic2 }}</h3>
        {{ range .experience }}
        <div class="resume-item">
          <h4>{{ .name }}</h4>
          <h5>{{ .duration }}</h5>
          <p><em>{{ .location }}</em></p>
          <ul>
            {{ range .description }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
