{{ define "main" }}
{{ with site.Data.blogs }}
<section id="blog">
	<div class="container blog">
		<div class="row">
		{{ range .blogs}}
		  <div class="col-12 col-sm-8 col-md-6 col-lg-4 py-3">
			<div class="card">
			  <div class="card-body">
				<h4 class="card-title">{{ .title }}</h4>
				<small class="text-muted cat">
				  <i class="far fa-clock text-info"></i> {{ .time }} to read
				</small>
				<p class="card-text">{{.sample }}</p>
				<button class="custom-btn btn-11">Read</button>
			  </div>
			  <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
				<div class="views">{{ .date }}
				</div>
				<div class="stats">
					{{ $icon := .site }}
					{{ partial "inline-svg" $icon }}
				</div>
				 
			  </div>
			</div>
		  </div>
		  {{ end }}
		</div>
	</div>	
</section>
{{ end }}
{{ end }}