{{ define "main" }}
{{ with site.Data.projects }}
<section id="blog">
	<div class="container project">
		<div class="row">
	    {{ range .project }}
		  <div class="col-12 col-sm-8 col-md-6 col-lg-4 py-3">
			<div class="card h-100">
			  <div class="card-body">
				<h4 class="card-title">{{ .title }}</h4>
				<small class="text-muted cat">
				 {{ .date }}
				</small>
				<p class="card-text">{{ .sample }}</p>
                <div class="d-flex justify-content-between">
                    {{ with resources.GetMatch (print "images/projects/" .image) }}
                    {{ with .Resize "175x80" }}
                    <div>
                        <img class="img-fluid d-block mx-auto" src="{{.RelPermalink}}" alt="some" height="{{.Height}}" width="{{.Width}}">
                    </div>
                    {{ end }}
                    {{ end }}
                    <div><button class="custom-btn btn-11">View</button></div>
                </div>
			  </div>
			  <!-- <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                  Github
			  </div> -->
			</div>
		  </div>
		 {{ end }}
		</div>
	</div>	
</section>
{{ end }}
{{ end }}
